/backend/data
/backend/rag/uploads
/backend/rag/__pycache__
/backend/ss_api/.env
/backend/ss_api/__pycache__
/backend/central_server/.env
/backend/central_server/__pycache__
/backend/central_server/*/__pycache__
